body {
  margin: 0;
  background: #cdcdcd;
}
#nav {
  width: 100%;
  display: flex;
  height: 60px;
  background: #292929;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#menu {
  cursor: pointer;
}
#menu.active, #setting.active {
  background: #676767;
}
#menu img {
  height: 30px;
  padding: 13px 15px;
}
#menuContent, #settingContent {
  position: absolute;
  background: #575757;
  top: 60px;
  display: none;
  z-index: 1001;
}
#menuContent {
  flex-direction: column;
  left: 0;
}
#menu.active #menuContent, #settingContent.active {
  display: flex;
}
.nav {
  color: white;
  height: 60px;
  width: 200px;
  text-decoration: none;
  align-content: center;
  padding-left: 15px;
}
.nav:hover {
  background: #676767;
}
#logo {
  display: flex;
  padding: 5px;
}
#logo img {
  height: 40px;
  padding: 10px 20px;
}
#content {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  #fileSelector {
    width: 100%;
  }
  .rotate {
    transform: rotate(90deg);
    left: 100%;
    transform-origin: top left;
    top: auto;
    right: auto;
    bottom: auto;
  }
  #content {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  #footer div {
    width: calc(100% / 3);
  }
}